/*时间*/
*{
    margin: 0;
    padding: 0;
}
.publicTime{
    height: 55px;
    line-height: 30px;
    font-size: 16px;
    padding-top: 11px;
    padding-left: 20px;
    color: #fff;
    float: left;
}
.time{
    float: left;
    padding-left: 26px;
}
.layui-form {
    margin-left: 20%;
    margin-top: 2%;

}

.layui-input disabled{
    color: red;
}

